{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="home-title">Bienvenue chez les Ewoks d'Aldoran</h1>

    {# On affiche le message flash, si l'email a bien été vérifié #}
    <div class="d-flex justify-content-center align-items-center">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center"> {{ message }}</div>
        {% endfor %}
    </div>

{% endblock %}

