{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez les Ewoks !{% endblock %}

{% block body %}
    <main class="blog-container">
        <h1 class="home-title"><strong>Le blog des Ewoks d'Aldoran</strong></h1>

        {# We display the flash message, if the email has been verified #}
        <div class="d-flex justify-content-center align-items-center">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success text-center"> {{ message }}</div>
            {% endfor %}
        </div>

        {% for image in images %}
            <section class="home-section">
                <h2 class="home-h2"><em>{{ image.image_title }}</em></h2>
                <div class="home-container">
                    <div class="home-img">
                        <img
                                src="{{ vich_uploader_asset(image, 'imageFile') }}"
                                alt="Image de présentation de {{ image.image_title }}"
                        >
                    </div>
                    <div class="home-container-text">
                        <p class="home-text">
                            La vie de Maître Yoda était une énigme complexe, car en lui résidait une double personnalité. D'un
                            côté, il était le sage Jedi, connu pour sa sagesse et son discernement inébranlables. Mais de l'autre
                            côté, il cachait une facette mystérieuse, une autre version de lui-même qui émergeait par moments,
                            révélant une personnalité totalement différente.

                            Lorsque le soleil se couchait sur la planète Dagobah, où Yoda avait choisi de se retirer, la
                            tranquillité qui régnait dans son humble hutte était brisée. C'est alors que la double personnalité de
                            Yoda prenait le relais, avec des pensées et des comportements radicalement différents de ceux du
                            Maître Jedi respecté.

                            Dans ces moments-là, Yoda devenait tour à tour joueur et farceur, ses mots prenant une tournure
                            ludique et sa démarche se transformant en une danse espiègle. Sa voix, habituellement calme et posée,
                            s'emballait dans une cacophonie joyeuse et taquine.
                        </p>
                        <p class="home-text">
                            Les habitants de Dagobah connaissaient ces deux aspects de Yoda et les acceptaient comme faisant
                            partie intégrante de sa nature. Certains affirmaient que ces changements étaient dus à des
                            fluctuations d'énergie dans la Force, tandis que d'autres parlaient d'une dualité inhérente à sa
                            personnalité.

                            Dans ses moments de double personnalité, Yoda se permettait d'explorer des facettes de lui-même qu'il
                            ne montrait pas habituellement. Il révélait un humour malicieux et des traits de caractère moins
                            sérieux, faisant des blagues et des jeux de mots qui égayaient l'atmosphère.

                            Pendant ces périodes, il n'hésitait pas à jouer des tours à ses visiteurs, en utilisant sa maîtrise de
                            la Force pour créer des illusions et des situations comiques. Certains Jedi qui venaient chercher ses
                            conseils se trouvaient déconcertés par ces changements brusques de comportement, mais ils savaient que
                            derrière l'apparente excentricité se trouvait toujours la sagesse profonde de Yoda.
                        </p>
                        <p class="home-text">

                            La double personnalité de Yoda ne se manifestait pas seulement dans ses interactions avec les autres,
                            mais aussi dans sa façon de se percevoir lui-même. Il pouvait passer d'un état de tranquillité
                            méditative à une agitation frénétique, d'une réflexion profonde à des éclats de rire spontanés.

                            Certains Jedi avaient du mal à comprendre cette dualité, considérant que cela compromettait la
                            stabilité émotionnelle et mentale de Yoda. Mais ceux qui le connaissaient bien savaient que ces deux
                            aspects étaient complémentaires, formant un tout harmonieux.
                        </p>
                    </div>
                </div>
            </section>
        {% endfor %}
    </main>

{% endblock %}

