{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1>Bienvenue chez les Ewoks d'Aldoran</h1>
{# On affiche les messages flash, si l'email a bien été vérifié #}
    {% for message in app.flashes('success') %}
        <div class=" alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}

{% endblock %}
