{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez les Ewoks !{% endblock %}

{% block body %}
    <main class="blog-container">
        <h1 class="home-title"><strong>Le blog des Ewoks d'Aldoran</strong></h1>

        {# We display the flash message, if the email has been verified #}
        <div class="d-flex justify-content-center align-items-center">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success text-center"> {{ message }}</div>
            {% endfor %}
        </div>

        {% for image in images %}
            <section class="home-section">
                <h2 class="home-h2"><em>{{ image.image_title }}</em></h2>
                <div class="home-container">
                    <div class="home-img">
                        <img
                                src="{{ vich_uploader_asset(image, 'imageFile') }}"
                                alt="Image de présentation de '{{ image.image_title }}"
                        >
                    </div>
                    <div class="home-container-text">
                        <p class="home-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce faucibus
                            dolor nibh, sed lacinia risus auctor vitae. Proin egestas dolor at dolor
                            pretium, a <strong>volutpat turpis rhoncus</strong>. Suspendisse pulvinar
                            aliquet commodo. Fusce auctor, lectus quis condimentum varius, orci orci
                            tincidunt velit, sed egestas libero enim et mi. Aliquam auctor ultrices est,
                            ac aliquam ligula molestie sit amet. Curabitur sit amet tellus sed orci
                            posuere <em>ornare sit amet</em> nec orci. Donec purus augue, nunc quis,
                            efficitur finibus neque. Ut sed felis in purus dapibus efficitur maximus
                            quis lectus. Vestibulum eget erat sit amet erat consequat molestie.
                            Aenean molestie tempus est id lobortis. Nunc mattis eros sit amet vehicula
                            venenatis. Donec vulputate orci ut ante eleifend, ac blandit turpis luctus.
                            Ut suscipit eros tellus, vel
                            <strong>sodales purus</strong>
                            varius et. Vivamus
                            euismod sit amet nisi et, finibus suscipit ante. Praesent porttitor metus
                            id cursus rutrum. Maecenas rutrum sem id massa rutrum, fermentum
                            dapibus magna ultricies.
                        </p>
                    </div>
                </div>
            </section>
        {% endfor %}
    </main>

{% endblock %}

